@charset "UTF-8";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

$color-primary: #f2f2f2;

@mixin flex-box($fd, $jtf, $alg, $gp) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jtf;
  align-items: $alg;
  gap: $gp;
}

@mixin grid-layout($gtc, $gtr, $cg, $rg) {
  display: grid;
  grid-template-columns: $gtc;
  grid-template-rows: $gtr;
  column-gap: $cg;
  row-gap: $rg;
}

@mixin media-query($mx) {
  @media screen and (max-width: $mx) {
    @content;
  }
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
}

.container {
  background-color: $color-primary;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 15em 1fr;
}

.navigation {
  background-color: white;
  width: 15em;
  height: 100vh;
  padding: 2rem 1rem;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(161, 172, 184, 0.12);
  @include flex-box(column, start, baseline, 2.5em);

  &__logo {
    width: 6em;
    margin: 0;
    transform: translateX(16px);
  }

  &__list {
    margin: 0;
    list-style: none;
    width: 100%;
    &__item {
      cursor: pointer;
      padding: 0.7em 1em;
      width: 100%;
      border-radius: 8px;
      font-weight: 500;
      transition: all 0.4s ease;
      &:hover {
        background-color: #f8f8f9;
      }
      &__btn {
        text-decoration: none;
        color: #66788b;
        i {
          margin-right: 10px;
          font-size: 1.1em;
          font-weight: bolder;
        }
      }
    }
    &__item-hr {
      padding: 1.2rem 1.3em;
      hr {
        background-color: #e7e6e6;
        border: none;
        height: 1px;
      }
    }
  }
}
